
<section class="container border-b-mid">
    <div class="row justify-content-center">


    <div class="py-4 py-lg-6 col-9 col-lg-7 text-center">
        <h1 class="mb-2 heading-large">{{ include.headline }}</h1>
        <p class="body-medium px-3">{{ include.subhead }}</p>

        <ul class="list-unstyled d-flex flex-column flex-sm-row flex-wrap align-items-center align-items-sm-end justify-content-xs-center justify-content-between ml-0 my-5 hero-services">

            {% for service in page.Services %}
                <li class="p-1 px-sm-2 py-sm-0 d-flex flex-column align-items-center">
                    {% capture iconURL %}assets/img/icons/{{ service.icon }}{% endcapture %}
                    <img class="icon pb-1 pb-md-2" src="{{ iconURL | relative_url }}" alt="">
                    <p class="heading-small">{{ service.heading }}</p>
                </li>
            {% endfor %}

        </ul>

    </div>
    </div>

</section>
