
<section class="container border-b-mid">
    <div class="row justify-content-center">


    <div class="py-4 py-lg-6 col-9 col-lg-7 text-center">
        <h1 class="mb-2 heading-large">{{ include.headline }}</h1>
        <p class="body-medium px-3">{{ include.subhead }}</p>

        <ul class="list-unstyled d-flex flex-column flex-sm-row flex-wrap align-items-center align-items-sm-end justify-content-xs-center justify-content-between ml-0 my-5 hero-services">

            <li class="p-1 px-sm-2 py-sm-0 d-flex flex-column align-items-center">
                <img class="icon pb-1 pb-md-2" src="{{ 'assets/img/icons/icon-gem.svg' | relative_url }}" alt="">
                <p class="heading-small">Design</p>
            </li>
            <li class="p-1 px-sm-2 py-sm-0 d-flex flex-column align-items-center">
                <img class="icon pb-1 pb-md-2" src="{{ 'assets/img/icons/icon-lightning.svg' | relative_url }}">
                <p class="heading-small">Tech</p>
            </li>
            <li class="p-1 px-sm-2 py-sm-0 d-flex flex-column align-items-center">
                <img class="icon pb-1 pb-md-2" src="{{ 'assets/img/icons/icon-collaboration.svg' | relative_url }}">
                <p class="heading-small">Marketing</p>
            </li>
            <li class="p-1 px-sm-2 py-sm-0 d-flex flex-column align-items-center">
                <img class="icon pb-1 pb-md-2" src="{{ 'assets/img/icons/icon-molecule.svg' | relative_url }}">
                <p class="heading-small">Data&nbsp;Sciences</p>
            </li>
        </ul>

    </div>
    </div>

</section>
