<section class="container feature-single mt-6 mb-6">

    <div class="row align-items-center">

        {% if include.singleimage %}
        <div class="feature-single-image col">
            <img src="{{ include.singleimage }}" alt="{{ include.img-alt }}">
        </div>
        {% endif %}

        <div class="col-5">
            <h4 class="display-4 mb-4">{{ include.subhead }}</h4>
            <p class="mb-2">{{ include.content }}</p>
            <a class="cta-link" href="{{ include.ctaref }}" title="{{ include.cta }}">{{ include.cta }}</a>
        </div>

    </div>
</section>
