<section class="feature-block">

    <div class="container feature-block-inner">

        {% for item in include.content %}

        <article class="feature-block-item">
            {% if item.image %}
                <img class="feature-block-icon" src="{{ item.image }}" alt="{{ item.subhead }}">
            {% endif %}
            <h3 class="feature-block-heading">{{ item.subhead}}</h3>
            <p class="feature-block-description">{{ item.description}}</p>
        </article>

        {% endfor %}

    </div>

</section>
