<footer class="footer">
    <div class="container">

        <div class="footer-inner">

            <div class="footer-company">
                <div class="footer-logo">
                    {% include svg/logo-horz.html %}
                </div>

                <div class="footer-description">
                    <p>{{ site.description }}</p>
                </div>

                <dl class="footer-list">
                    <dt>Locations:</dt>
                    <dd>Amsterdam</dd>
                    <dd>Berlin</dd>
                    <dd>London</dd>
                </dl>

                <dl class="footer-list">
                    <dt>Follow us:</dt>
                    <dd>Medium</dd>
                    <dd>Twitter</dd>
                </dl>

            </div>

            <div class="footer-menu">
                {% for nav in site.data.nav %}
                    <a class="footer-link" href="{{ nav.path }}">{{ nav.title }}</a>
                {% endfor %}

            </div>



        </div>

        <ul class="footer-legal">
            <li>
                <p class="footer-legal-copy">&copy; {{ site.time | date: '%Y' }} VentureBuilders Capital B.V.</p>
            </li>
            <li>
                <a href="#" class="footer-legal-link">Terms of Use</a>
            </li>
            <li>
                <a href="#" class="footer-legal-link">Privacy Policy</a>
            </li>
        </ul>

    </div>
</footer>
