<head>

  <title>{{ site.title }} : {{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A hands-on European venture capital fund, focused on AI, data and general SaaS companies">

  <meta property="og:title" content="{{ site.title }}: {{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/assets/img/social/social-og-image.png" />

  <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

</head>
