<div class="pre-header">

    <div class="container">

        <ul class="header-locations">
            <li class="header-locations-item">Amsterdam</li>
            <li class="header-locations-item">Berlin</li>
            <li class="header-locations-item">London</li>
        </ul>

    </div>

</div>

<header class="site-header" id="site-header" role="banner">

    <div class="container">

        <nav class="site-nav">
            <a class="site-nav-logo" title="{{ site.title }}" href="{{ site.url }}">
                {% include svg/logo.html %}
            </a>

            <button class="site-nav-toggle" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggle-line"></span>
                <span class="toggle-line"></span>
                <span class="toggle-line"></span>
            </button>

            <div class="site-nav-menu collapse" id="mainNav">
                {% for nav in site.data.nav %}
                    <a class="site-nav-menu-link {% if page.url contains nav.path %}active{% endif %}" title="{{ nav.title }}" href="{{ nav.path }}">{{ nav.title }}</a>
                {% endfor %}
            </div>

        </nav>
    </div>

</header>
