

{% assign name = include.member.title %}
{% assign photo = include.member.Photo %}
{% assign photo2x = include.member.Photo2x %}
{% assign position = include.member.Position %}
{% assign company = include.member.Venture %}

<figure class="member-profile">
    <div class="member-photo">
        <picture>
             <source srcset='{{ photo2x }}' media="(min-width: 900px)">
             <img src='{{ photo }}' alt="{{ include.memberName }}">
        </picture>
    </div>
    <figcaption class="pt-1 member-meta">
        <h6 class="base bold">{{ include.memberName }}</h6>

        {% if include.memberVenture %}
            <p class="base bold mb-0">{{ include.memberVenture }}</p>
        {% endif %}
        {% if include.memberPosition %}
            <p class="base-small">{{ include.memberPosition }}</p>
        {% endif %}

    </figcaption>
</figure>
