.carousel {
    position: relative;
    background-color: $black;
    overflow: hidden;

    margin-top: spacing(6);
    margin-bottom: spacing(6);


    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        height: 70vw;
        z-index: 10;

        @include media-breakpoint-up(md) {
            height: 40vw;
        }
    }

    &-item {
        width: 50%;
    }

    &-quote {

        @include type_small();

        @include media-breakpoint-up(lg) {
            @include type_medium();
            color: $white;
        }

        margin-bottom: spacing(6);
        color: $white;

        cite {
            margin-top: spacing(4);
            display: inline-block;
            color: inherit;
            @include type_extra-small($muted: true);
            font-style: normal;

        }
    }

    &-image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-color: white;
        z-index: 1;

        img {
            width: auto;
            margin-top: -15%;
        }
    }

    &-mask {
        position: absolute;
        right: 65%;
        top: 0;
        height: 100%;
        width: 50%;
        z-index: 2;

        @include media-breakpoint-up(md) {
            right: 35%;
        }

        @include media-breakpoint-up(lg) {
            right: 35%;
        }

        svg {
            height: 100%;
            width: auto;
        }
    }

    &-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-arrow {
        display: block;
        height: 1rem;
        width: 70px;
        overflow-x: hidden;

        svg {
            transform: translateX(-1rem);
            opacity: 0.5;
            transition: transform 0.55s cubic-bezier(0, 0.6, 0.17, 1.02), opacity 0.2s ease-in-out;
        }

        &:hover svg {
            transform: translateX(0);
            opacity: 1;
        }
    }


}
