.site-footer {

    background-color: $charcoal;

}

.footer-logo {
    max-width: 240px;
    margin-bottom: $spacer;
    flex-basis: 100%;
}



.footer-link-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    @include media-breakpoint-up(md) {
        // text-align: right;
        display: inherit;
        padding-top: 0;
    };

    &.top {
        flex-direction: column;
        // margin-bottom: $spacer * 2;
    }
}

.footer-link {
    color: $gray-light;
    margin-right: $spacer * 2;
    font-size: 0.875em;
    transition: color 0.2s ease-out;

    &:hover {
        color: $white;
        text-decoration: none;
    }

    // @include media-breakpoint-up(md) {
    //     margin-right: $spacer * 2;
    // }
}

.footer-copyright {
    color: $gray-mid;
}
