
@keyframes treeBuild {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    50% { opacity: 1; }
    100% { transform: translateY(0%); }
}

@keyframes fadeIn {
    from {
        transform: translateY(1%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


.hero {
    width: 90%;
    padding-top: 7vh;
    padding-bottom: 10vh;
    text-align: center;

    @include media-breakpoint-up(lg) {
        width: 70%;
    }

    @include media-breakpoint-up(xl) {
        width: 50%;
    }

    animation-duration: 1.25s;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
}

.hero-logo-tree {
    max-width: $spacer * 3;

    @include media-breakpoint-up(xl) {
        max-width: $spacer * 4;
    }

    animation-duration: 2s;
    animation-name: treeBuild;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0, 0.51, 0.48, 1.07);
}


.hero-headline {
    font-size: 7vw;

    @include media-breakpoint-up(lg) {
        font-size: 6vw;
    }
    @include media-breakpoint-up(xl) {
        font-size: 5rem;
    }
}

.hero-description {
    line-height: 1.5rem;
    font-size: 1.25rem;

}

.hero-services {
    margin-left: 0;
}

.hero-services .icon {
    max-width: 3rem;
}
