---
layout: global
---

<section class="container">
    <div class="page-header row justify-content-between">
        <div class="col-lg-4 page-hero-content ">
            <h2 class="page-header-title">{{ page.headline }}</h2>
            <p class="page-header-intro">{{ page.lead }}</p>
            <p class="page-header-subtext">{{ page.intro }}</p>
        </div>

        <div class="col-lg-4 page-hero-image">
            <img src="{{ page.hero-image }}" alt="">
        </div>
    </div>
</section>


{% for block in page.Blocks %}
<section class="py-2">
    {% include block_sidebyside.html content=block %}
</section>

{% endfor %}
