---
layout: page
---

<!-- <section class="container careers-photos-large">
    <div class="row mb-1">
        <div class="col">
            {% include img_resp.html src_large="../assets/img/career-banner@2x.jpg" src_sm="../assets/img/career-banner-sm.jpg" %}
        </div>
    </div>
</section>

{% include feature-blocks.html content=page.feature_blocks heading=page.feature_block_heading %} -->



<section class="container careers-photos-small">
    <div class="row mb-4">
        <div class="col">
        {% include img_resp.html src_large="../assets/img/career-photo-strip@2x.jpg" src_sm="../assets/img/career-photo-strip-sm.jpg" %}
        </div>
    </div>
</section>

<section class="py-2">
    {% include feature-group.html subhead=page.feature_group_heading center=true content=page.feature_group %}
</section>

<section class="container-fluid careers-positions py-3 bg-light">
    <div class="container">
        <div class="row no-gutters">
            <h4 class="col-9 display-4 mb-1">Browse Current Open Positions</h4>
            <p class="col-9">For residents outside the Netherlands, we are currently only accepting applicants with work permits in Europe.</p>
            {% include vacancies.html %}
        </div>
    </div>

</section>
