---
layout: page
---

<section class="container contact">
    <div class="locations-wrapper">

        <article class="location">
            <div class="location-inner">
                <h3 class="location-heading">Amsterdam - Herengracht</h3>
                <address class="location-address">
                    De Bary</br>
                    Herengracht 450</br>
                    1017CA Amsterdam
                </address>
            </div>
            <div class="location-image">
                <img src="{{ site.url }}/assets/img/location-amsterdam.jpg" alt="VentureBuilders Capital Amsterdam">
            </div>
        </article>

        <article class="location">
            <div class="location-inner">
                <h3 class="location-heading">London - Moorgate</h3>
                <address class="location-address">
                    Spaces</br>
                    30 Moorgate</br>
                    EC2R 6PJ London
                </address>
            </div>
            <div class="location-image">
                <img src="{{ site.url }}/assets/img/location-london.jpg" alt="VentureBuilders Capital London">
            </div>
        </article>

        <article class="location">
            <div class="location-inner">
                <h3 class="location-heading">Berlin - Alexanderplatz</h3>
                <address class="location-address">
                    4th Floor</br>
                    Gontardstraße 11</br>
                    10178 Berlin
                </address>
            </div>
            <div class="location-image">
                <img src="{{ site.url }}/assets/img/location-berlin.jpg" alt="VentureBuilders Capital Berlin">
            </div>
        </article>

    </div>
</section>
