---
layout: global
---

<div class="home">

    {% include hero.html headline=page.headline subhead=page.subhead intro=page.intro %}

    {% include feature-blocks.html content=page.feature_block %}

    <section class="carousel">

        <div class="carousel-inner container">
            <div class="carousel-item">
                <blockquote class="carousel-quote">
                    “With a user first approach, we are sure to offer the best choice for our customers and enable travel brands to effectively monetize the last step of every trip.”
                    <cite>Koen Bremer, CEO, Taxi2Airport</cite>
                </blockquote>

                <div class="carousel-controls">
                    <a class="link-box inverse" href="/our-ventures/"><span>Our Ventures</span></a>
                    <!-- <a class="carousel-arrow" href="#">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 71 18">
                            <path class="svg-white" fill-rule="nonzero" d="M68.8481728 8.5552796l-7.2017262-7.2017262c-.1952621-.19526216-.1952621-.51184465 0-.7071068.1952622-.19526214.5118446-.19526214.7071068 0l8 8.00000001c.1952621.19526215.1952621.51184463 0 .70710678l-8 8.00000001c-.1952622.1952621-.5118446.1952621-.7071068 0-.1952621-.1952622-.1952621-.5118446 0-.7071068l7.091167-7.091167H1c-.27614237 0-.5-.22385763-.5-.5 0-.27614238.22385763-.5.5-.5h67.8481728z"/>
                        </svg>
                    </a> -->
                </div>

            </div>
        </div>

        <div class="carousel-image">
            <img src="assets/img/quote-image-t2a.jpg" alt="">
        </div>

        <div class="carousel-mask">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 961 717">
                <path class="svg-black" fill-rule="nonzero" d="M960.5 717H0V0h692.5z"/>
            </svg>
        </div>


    </section>

    <section class="container-fluid about-us block">
        <div class="container">
            <article class="block-main">
                <h3 class="block-heading">We focus on AI and data companies</h3>
                <p class="block-content">We are founded by founders, allowing us to bring our experience in running companies to our own ventures. We believe Artificial Intelligence will change every industry in the next decade; and more broadly that software will continue to impact every industry. We invest in founders with an exceptional drive and a unique perspective on their industry.</p>
                <a href="./our-beliefs/" title="Our Beliefs" class="link-box"><span>Our Beliefs</span></a>
            </article>

            <aside class="block-aside large">
                <img src="{{ site.url }}/assets/img/about-image.svg" alt="Our Beliefs">
            </aside>
        </div>
    </section>

    <section class="container-fluid expertise block">
        <article class="container">

            <main class="block-main">
                <h3 class="block-heading">We offer expertise to our ventures</h3>
                <p class="block-content">Our ventures are supported with a team of passionate experts to help accelerate each stage of growth. This operational squad offers hands-on support. In close collaboration with our ventures, we decide which competence is needed to accelerate their growth.</p>
            </main>

            <aside class="block-aside expertise-list">
                
                <dl class="accordion">
                    <dt class="accordion-title" data-list="1">
                        <i class="toggle"><span></span></i>
                        Design
                    </dt>
                    <dd class="accordion-list" data-list="1">
                        <ul>
                            <li>Branding</li>
                            <li>Web, iOS and Android design</li>
                            <li>Prototyping</li>
                            <li>Conversion Optimisation</li>
                        </ul>
                    </dd>
                    <dt class="accordion-title" data-list="2">
                        <i class="toggle"><span></span></i>
                        Software Development
                    </dt>
                    <dd class="accordion-list" data-list="2">
                        <ul>
                            <li>Full-stack development</li>
                            <li>Server and cloud architecture</li>
                            <li>Quality assurance and release management</li>
                            <li>Support and monitoring</li>
                        </ul>
                    </dd>
                    <dt class="accordion-title" data-list="3">
                        <i class="toggle"><span></span></i>
                        Marketing
                    </dt>
                    <dd class="accordion-list" data-list="3">
                        <ul>
                            <li>Online strategy</li>
                            <li>Tracking setup</li>
                            <li>Search engine optimisation</li>
                            <li>Social media advertising</li>
                            <li>Email marketing</li>
                            <li>Marketplace advertising</li>
                            <li>Feed management</li>
                            <li>Omni-channel strategy and setup</li>
                        </ul>
                    </dd>
                </dl>
            </aside>
        </article>
    </section>

</div>
