---
layout: global
---

<div class="home">

    {% include hero.html headline=page.headline subhead=page.subhead intro=page.intro %}

    {% include feature-group.html content=page.feature_group %}

    <section class="container-fluid feature-venture">

        <div class="container">
            <div class="row py-5 py-lg-7">
                <div class="col-9 col-md-6 col-lg-5">
                    <img class="quote-logo" src="assets/img/venture-logos/taxi2airport.svg" alt="Taxi2Airport">
                    <blockquote class="blockquote">
                        “With a user first approach, we are sure to offer the best choice for our customers and enable travel brands to effectively monetize the last step of every trip.”
                        <footer class="blockquote-footer">Koen Bremer, CEO <cite>Taxi2Airport</cite></footer>
                    </blockquote>
                    <p><a class="cta-link" href="/ventures/taxi2airport">Learn More</a></p>
                </div>
            </div>

        </div>

    </section>

</div>
