---
layout: page
---

<section class="container">
    <div class="row mb-1">
        <div class="col">
            {% include img_resp.html src_large="../assets/img/investment-banner@2x.jpg" src_sm="../assets/img/investment-banner-sm.jpg" %}
        </div>
    </div>
</section>

{% include feature-group.html content=page.feature_gropu heading=page.feature_group_heading %}

<section class="py-2">
    {% include feature-group.html subhead=page.feature_group_heading center=true content=page.feature_group %}
</section>

<section class="py-2">

    {% include headline-content.html headline=page.contentBlockB_heading description=page.contentBlockB_description center=true %}
    <div class="container py-2">
        {% include list-group.html content=page.list_groupA %}
    </div>

</section>


<section class="py-2">
    {% include headline-content.html headline=page.contentBlockC_heading description=page.contentBlockC_description center=true %}
</section>


<section class="py-2">
    {% include contact-block.html cta="/contact-us/" %}
</section>
