---
layout: page
---

<div class="news container">

    <div class="row no-gutters pt-3 mb-3 mb-lg-6">
        <main class="news-grid">
			{% assign news = site.posts | sort:'date' | reverse %}
			{% for news_article in news %}
			<article class="news-preview news-list">
				<a class="news-title" href="{{ news_article.url }}"><h4>{{ news_article.title }}</h4></a>
				<p class="news-date">{{ news_article.date | date_to_long_string }}</p>
				<p class="news-intro">{{ news_article.intro }}</p>
				<a class="news-link link-line" href="{{ news_article.url }}">Read Article</a>
			</article>
            {% endfor %}
        </main>

    </div>

</div>
