---
layout: global
---
<div class="container">
	<article class="article-container">

		<header class="article-header">

			<h5 class="article-header-date">{{ page.date | date: "%d %b, %Y" }}</h5>
			<h2 class="article-header-title">{{ page.title | escape }}</h2>

			{% if page.share %}
				{% include sharing.html twitter=true linkedin=true facebook=true %}
			{% endif %}
		</header>

		<main class="article-content">

			<div class="article-content-inner">
				{{ content }}

				{% if page.share %}
					{% include sharing.html twitter=true linkedin=true facebook=true %}
				{% endif %}
			</div>
		</main>

		<footer class="article-footer">
			<div class="article-footer-inner">
				<a href="/news/" class="link-box"><span>View News &amp; Press</span></a>
			</div>
		</footer>

	</article>
</div>
