---
layout: page
---

{% assign ventureArray = "VentureBuilders, Sleepdeal, Taxi2Airport, Case24, Offerte.nl, HomeDeco, Applyr, Traveldeal, HelloSpecial, Euroknaller, Contexta, Consulto" | split: ", " %}

<div class="container">

    <div class="team-grid-container condense mb-3 mb-lg-5">
        {% for ven in ventureArray %}

            {% assign v = site.team | where: "Venture", ven | sort: "prio" %}

            {% for mem in v %}
                <div class=" team-grid-item">
                    {% include team-profile.html member = mem show_social=false show_venture=true %}
                </div>
            {% endfor %}

        {% endfor %}

    </div>

</div>
