---
layout: global
---

{% assign ven = site.ventures | where: 'title', page.Venture | first %}
{% capture vlogo %}/assets/img/venture-logos/{{ ven.class_name }}.svg{% endcapture %}

<article class="container post">

    <header class="row pt-3 mb-1 mb-lg-3">
        <div class="col col-lg-7 col-xl-6 mx-auto border-b-light">
            <h2 class="display-2 headline-variant mb-1 mb-lg-2">{{ page.title | escape }}</h2>
            <!-- <h5 class="display-5 mb-1">{{ page.Venture }}</h5> -->
            <img src="{{ vlogo }}" class="py-2 vacancy-logo" alt="">
            <p class="lead">{{ page.Location }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ page.type }}</p>
        </div>
    </header>

    <main class="row mb-2 mb-lg-3 post-content" itemprop="articleBody">

        <div class="col-9 col-lg-7 col-xl-6 mx-auto">
            {{ content }}
        </div>
    </main>

    <footer class="row mb-3 mb-lg-4">
        <div class="col col-lg-7 col-xl-6 mx-auto border-t-light text-center">
            <h4 class="display-3 mb-2 mb-lg-3">Interested in this position?</h4>
            <p>Send your profile and cover letter to <a href="mailto:{{ page.email_address }}?subject=Application%20for%20{{ page.title }}&amp;body=Please%20include%20your%20cover%20letter%20here">{{ page.email_address | default: 'chloe[at]venturebuilders.nl' }}</a></p>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal">Apply now</button> -->
        </div>
        <div class="col-6 py-3 mx-auto text-center">
            <a href="/careers/" class="cta-link">View all Careers</a>
        </div>
    </footer>

</article>

<!-- {% include apply.html %} -->
