// ------------------------------------
// Colors

$green: #009999;
$yellow: #FCF765;
$black: #404040;
$gray-light: #F5F7F7;
$white: #FFFFFF;


$mint: #009999;
$blue: #005580;
$black: #17191A;
$charcoal: #303233;
$slate: #7D7F80;
$grey: #C8CBCC;
$smoke: #F4F5F5;

// ------------------------------------
// Spacing scale

$spacer-unit: 0.5rem;

$spacers: (
    01: 1,
    02: 1.5,
    03: 2,
    04: 3,
    05: 4,
    06: 6,
    07: 8,
    08: 12,
    09: 16
);
// 1     = 8
// 1.5   = 12
// 2     = 16
// 3     = 24
// 4     = 32
// 6     = 48
// 8     = 64
// 12    = 96
// 16    = 128


@function spacing($variant: base) {
    $fetched-value: map-get($spacers, $variant);

    @if type-of($fetched-value) == number {
        @return $fetched-value * $spacer-unit;
    } @else {
        @error 'Spacing variant `#{$variant}` not found. Available variants: #{available-names($spacers)}';
    }
}
