// ------------------------------------
// Typography Settings
// ------------------------------------

// Font family

@font-face {
  font-family: 'Financier';
  src: url('fonts/FinancierTextWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/FinancierTextWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/FinancierTextWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/FinancierTextWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}


// Type Scale

$scale: (
    1: 0.875rem,
    2: 1rem,
    3: 1.25rem,
    4: 1.75rem,
    5: 2.5rem,
    6: 4rem,
    super: 5.75rem
);



$font-family: 'Financier', 'Hoefler Text', 'Cambria', 'Georgia', serif;


@mixin type_super($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, super);
    }
    line-height: 1.1;
    letter-spacing: -0.025em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}

@mixin type_extra-large($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 6);
    }
    line-height: 1.1;
    letter-spacing: -0.015em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}

@mixin type_large($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 5);
    }
    line-height: 1.1;
    letter-spacing: -0.015em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}

@mixin type_medium($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 4);
    }
    line-height: 1.35;
    letter-spacing: -0.005em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}


@mixin type_small($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 3);
    }
    line-height: 1.35;
    letter-spacing: -0.005em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}

@mixin type_extra-small($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 2);
    }
    line-height: 1.45;
    letter-spacing: 0.005em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}

@mixin type_tiny($muted: false) {
    font: {
        family: $font-family;
        size: map-get($scale, 1);
    }
    line-height: 1.45;
    letter-spacing: 0.015em;

    @if ($muted) {
        color: $slate;
    } @else {
        color: $black;
    }
}



body {
    font-family: $font-family;
}



.link-line {
    display: inline-block;
    color: $black;
    cursor: pointer;
    position: relative;
    line-height: 1.5;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 0px;
    position: absolute;
    bottom: -0.025em;
    left: 0;
    background-color: $black;

    transition: width 0.15s cubic-bezier(0.24, 0.01, 0.21, 1);

  }

  &:hover {
      color: $black;
  }

  &:hover::after {
    width: 100%;
  }
}
