html {
    font-size: 14px;
    @include media-breakpoint-up(md) { font-size: 16px; };
    @include media-breakpoint-up(xl) { font-size: 18px; };
}

a {
    transition: color 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    text-transform: uppercase;
}

.display-5 {
    font-size: $display5-size;
    font-weight: $display5-weight;
    line-height: $display-line-height;
    text-transform: uppercase;
}


.headline-variant {
    font-family: $font-family-base;
    font-weight: 700;
    text-transform: none;
}

.border-b { padding-bottom: $spacer; border-bottom: solid 1px $gray-dark; }
.border-t { padding-top: $spacer; border-top: solid 1px $gray-dark; }

.border-b-light { @extend .border-b; border-color: $gray-mid; }
.border-t-light { @extend .border-t; border-color: $gray-mid; }


@mixin cta-link($external: false, $arrow: false) {
    transition: color 0.2s ease-out;
    color: $green-dark;
    font-size: $font-size-sm;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 250%;
    text-transform: uppercase;

    @if $external {
        &::after {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-left: 0.5rem;
            background-image: url('img/icons/icon-external.svg');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
        }
    }


    &:hover {
        color: $charcoal;
        text-decoration: none;
    }
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-base;
        font-weight: 700;
        line-height: 140%;
    }
    h1 { margin-bottom: $spacer * 3; }
    h2 { margin-bottom: $spacer * 2; }
    h3 { margin-bottom: $spacer * 2; }
    h4 { margin-bottom: $spacer * 1; }
    h5 { margin-bottom: $spacer * 1; font-weight: 400; }
    h6 { margin-bottom: $spacer * 1; font-weight: 400; }
    p { margin-bottom: $spacer * 1; }
}




ul {
    margin-bottom: $spacer * 3;
    margin-left: $spacer * 2;
}
ul > li { margin-bottom: $spacer / 2; }

.cta-link {
    @include cta-link();
}

.cta-link.external {
    @include cta-link($external:true);
}


.blockquote {
    border: none;
    font-family: $font-family-serif;
    font-size: $display3-size;
    font-style: normal;
    letter-spacing: 0;
    line-height: 135%;

    @include media-breakpoint-up(lg) {
        font-size: $display3-size;
    };

    &.large {
        @include media-breakpoint-up(lg) {
            font-size: $display3-size;
        };
    }

    &.center {
        text-align: center;
    }
}

.blockquote-footer {
    padding-top: $spacer * 2;
    color: inherit;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-style: normal;
    text-align: inherit;
    opacity: 0.8;
}

.intro {
    font-size: $display4-size;
}

.btn {
    cursor: pointer;
}
